<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Modifier les utilisateurs</h4>
          </div>
          <div class="content">
            <form>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Username</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      value="UserTest"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Role</label>
                    <input type="number" class="form-control" placeholder="" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Nom</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Company"
                      value="User"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Prénom</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last Name"
                      value="Test"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                 
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <button
                  type="submit"
                  class="btn btn-fill pull-right btn-info m-5"
                >
                  Modifier le Profile
                </button>
              <!--     -->
                </div>
            </div>
                <div class="clearfix"></div>
              </div>
              <div class="col-md-6">
                <div class="card card-user">
                  <div class="image">
                    <img
                      src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400"
                      alt="..."
                    />
                  </div>
                  <div class="content">
                    <div class="author">
                      <a href="#">
                        <img
                          class="avatar border-gray"
                          src="assets/default-avatar.png"
                          alt="..."
                        />

                        <h4 class="title">
                          User Test<br />
                          <small>UserTest</small>
                        </h4>
                      </a>
                    </div>
                    <p class="description text-center">
                      "Lorem ipsum dolor sit amet consectetur <br />
                      adipisicing elit. Ab quod perspiciatis repudiandae <br />
                      , unde quas provident deserunt fugia"
                    </p>
                  </div>
                  <hr />
                  <div class="text-center">
                    <button href="#" class="btn btn-simple">
                      <i class="fa fa-facebook-square"></i>
                    </button>
                    <button href="#" class="btn btn-simple">
                      <i class="fa fa-twitter"></i>
                    </button>
                    <button href="#" class="btn btn-simple">
                      <i class="fa fa-google-plus-square"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
